@import './variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $body-font;
    overflow-x: hidden;
}

h1, h3 {
    font-family: $title-font;
}

h2 {
    color: $gray;
    font-family: $bold;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}